---
import ContactForm from '../ContactForm';
---

<section
    id="contact"
    class="relative flex flex-col items-center justify-center gap-16 px-8 py-16 md:h-screen">
    <ContactForm client:visible />
</section>
