---
import { getEntryBySlug } from 'astro:content';
import EmailIcon from '../icons/EmailIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import LinkButtons from '../LinkButtons.astro';
import ScrollButton from '../ScrollButton';

const porfolioInfo = await getEntryBySlug('portfolio', 'info');
const { name, position } = porfolioInfo.data;
---

<main
    id="intro"
    class="relative m-auto flex h-screen flex-col items-center justify-center gap-10">
    <h1
        class="text-center font-mono text-5xl text-neutral-50 md:text-6xl lg:text-8xl">
        {name}
    </h1>

    <h4
        class="text-center font-serif text-2xl tracking-wide text-neutral-300 md:text-3xl lg:text-4xl">
        {position}
    </h4>

    <a
        href="/resume.pdf"
        target="_blank"
        class="rounded border border-neutral-800 bg-neutral-900/40 py-4 px-10 font-serif font-medium tracking-wider text-neutral-50 transition-all duration-500 hover:border-neutral-500">
        Resume
    </a>

    <LinkButtons />

    <ScrollButton
        client:visible
        className="mt-8 md:absolute md:bottom-0 md:mb-9"
        href="#summary"
    />
</main>
