---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import { getEntryBySlug } from 'astro:content';
import Introduction from '../components/sections/Introduction.astro';
import Spacer from '../components/Spacer.astro';
import Summary from '../components/sections/Summary.astro';
import Info from '../components/sections/Info.astro';
import Projects from '../components/sections/Projects.astro';
import LinkButtons from '../components/LinkButtons.astro';
import ScrollButton from '../components/ScrollButton';

const porfolioInfo = await getEntryBySlug('portfolio', 'info');
const { title } = porfolioInfo.data;
---

<Layout title={title}>
    <div class="relative">
        <Background />
        <div class="container relative mx-auto">
            <Introduction />

            <Spacer />

            <Summary />

            <Spacer />

            <Info />

            <Spacer />

            <Projects />

            <Spacer />

            <footer class="my-16 flex flex-col items-center gap-8">
                <ScrollButton
                    client:visible
                    direction="up"
                    href="#intro"
                    disableBounce
                />
                <span
                    class="m-auto w-72 text-center font-mono text-neutral-200 hover:lowercase md:w-auto"
                    >built And desiGned by keVin von eRicH peRedo</span
                >
                <LinkButtons />
            </footer>
        </div>
    </div>
</Layout>
