---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import { getEntryBySlug } from 'astro:content';
import Introduction from '../components/sections/Introduction.astro';
import Spacer from '../components/Spacer.astro';
import Summary from '../components/sections/Summary.astro';
import Info from '../components/sections/Info.astro';

const porfolioInfo = await getEntryBySlug('portfolio', 'info');
const { title } = porfolioInfo.data;
---

<Layout title={title}>
    <div class="relative">
        <Background />
        <div class="container relative mx-auto">
            <Introduction />

            <Spacer />

            <Summary />

            <Spacer />

            <Info />
        </div>
    </div>
</Layout>
