---
export interface Props {
    title: string;
}

import '@fontsource/major-mono-display';
import '@fontsource/zilla-slab/300.css';
import '@fontsource/zilla-slab/400.css';
import '@fontsource/zilla-slab/500.css';
import '@fontsource/zilla-slab/600.css';
import '@fontsource/zilla-slab/700.css';
import { getEntryBySlug } from 'astro:content';

import '../../base.css';

const porfolioInfo = await getEntryBySlug('portfolio', 'info');
const { metaDescription } = porfolioInfo.data;

const { title } = Astro.props;
---

<!DOCTYPE html>
<html
    lang="en"
    class="scroll-smooth bg-black font-serif tracking-wider text-neutral-50 selection:bg-pink-600/40 selection:text-neutral-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={metaDescription} />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.kevinperedo.dev/" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="Portfolio | Kevin Von Erich Peredo"
        />
        <meta
            property="og:description"
            content="A full-time software engineer working at Lexagle Inc. in the Philippines."
        />
        <meta property="og:image" content="/og-image.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="kevinperedo.dev" />
        <meta property="twitter:url" content="https://www.kevinperedo.dev/" />
        <meta
            name="twitter:title"
            content="Portfolio | Kevin Von Erich Peredo"
        />
        <meta
            name="twitter:description"
            content="A full-time software engineer working at Lexagle Inc. in the Philippines."
        />
        <meta name="twitter:image" content="/og-image.png" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body>
        <div
            id="loading"
            class="fixed z-50 flex h-screen w-screen items-start justify-center bg-black opacity-100 transition-opacity duration-500">
        </div>

        <slot />
    </body>
</html>

<script>
    function transitionEndEventName() {
        var i,
            undefined,
            el = document.createElement('div'),
            transitions = {
                transition: 'transitionend',
                OTransition: 'otransitionend', // oTransitionEnd in very old Opera
                MozTransition: 'transitionend',
                WebkitTransition: 'webkitTransitionEnd',
            };

        for (i in transitions) {
            // @ts-ignore
            if (transitions.hasOwnProperty(i) && el.style[i] !== undefined) {
                // @ts-ignore
                return transitions[i];
            }
        }
    }

    const loadingElement = document.getElementById('loading');

    window.addEventListener('load', () => {
        if (loadingElement) {
            loadingElement.classList.remove('opacity-100');
            loadingElement.classList.add('opacity-0');
        }
    });

    if (loadingElement) {
        loadingElement.addEventListener(
            transitionEndEventName(),
            () => {
                loadingElement.classList.add('hidden');
            },
            false
        );
    }
</script>
